div.tooltip {	
    position: absolute;			
    text-align: center;			
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.active {
    stroke-width : 0.7
}

.background {
    fill: none;
    pointer-events: all;
  }

  svg text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }